.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
  padding-top: 100px;
}

.left {
  left: 0;
  background-color: #032c79;
}

.right {
  right: 0;
  background-color: #a37a07ed;
}

.irish {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  color: #07a33eed;
  background-color: #0203008f;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: centers;
}

.down {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: centers;
}

.left2 {
  left: 25%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: centers;
}

.name_title {
  font-size: 48px;
  color: black;
  text-align: left;
  padding-bottom: 20px;
}

.brief_description {
  text-align: left;
}

.profile_image {
  width: 500px;
  height: auto;
}